<%= link_to job do %>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
              <img alt="" src="http://lorempixel.com/100/100/people">
            </div>

            <div class="info">

              <div class="title">
              <%= job.user.restaurant_name %>
              </div>

              <div style="font-size:20px; font-weight:bold;" class="desc">Job position: <%= job.jobtype.name %>
              </div>

              <br>

              <div class="desc">Start time: <%= job.start_time.strftime("%e %b %Y %H:%M:%p") %>
              </div>

              <div class="desc">End time: <%= job.end_time.strftime("%e %b %Y %H:%M:%p") %>
              </div>

            </div>

            <br>

            <div>
              <img src="<%= googleMapBuilderIndex(job.user.latitude, job.user.longitude) %>">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<% end %>