


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for (@job) do |form| %>
        <%= form.hidden_field :status, value: "open" %>
          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
             <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :start_time %>
          <%= form.datetime_field :start_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :end_time %>
          <%= form.datetime_field :end_time, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :rate %>
          <%= form.text_field :rate, class: 'form-control' %>
        </div>

        <div class="form-group select-job">
          <%= form.label :select_job %>
          <%= form.select(:jobtype_id) do %>
            <% [['Dishwasher', 1], ['line cook', 2], ['Sous chef', 3], ['Prep chef', 4], ['Waiter', 5], ['Hostess', 6]].each do |c| -%>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        </div>

        <%= form.submit 'Create Job', class: 'btn btn-primary btn-xs' %>
        <br>
        <br>
        <%= link_to 'Go back to Jobs', [:jobs], class: 'btn btn-primary btn-xs' %>
      <% end %>
    </div>
  </div>
</div>
