
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt>Start time</dt>
        <dd><%= @job.start_time %></dd>
        <dt>End time</dt>
        <dd><%= @job.end_time %></dd>
        <dt>Rate</dt>
        <dd><%= @job.rate %></dd>
        <dt>Description</dt>
        <dd><%= @job.description %></dd>
      </dl>
      <%= form_for [@job, @comment] do |f| %>
        <%= f.text_field :comment %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>