
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt>Start time</dt>
        <dd><%= @job.start_time %></dd>
        <dt>End time</dt>
        <dd><%= @job.end_time %></dd>
        <dt>Rate</dt>
        <dd><%= @job.rate %></dd>
        <dt>Description</dt>
        <dd><%= @job.description %></dd>
      </dl>
    </div>
  </div>
</div>


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Add comment
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    <%= form_for [@job, @comment] do |f| %>
      <%= f.text_area :comment %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'All jobs', [:jobs], class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th> Comments </th>
    </tr>
  </thead>
  <tbody>
    <% @job.comments.reverse_each do |c| %>
      <tr>
        <td> <%= c.user.first_name %></td>
        <td> <%= c.comment %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
    <%= form_for [@job, @application] do |a| %>  
      <% current_user %>    
      <%= a.button :submit, class: 'btn btn-primary' %>
    <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th> Applications </th>
    </tr>
  </thead>
  <tbody>
    <% @job.applications.reverse_each do |c| %>
      <tr>
        <td> <%= c.user.first_name %></td>
        <td> <%= c.status %> </td>
      </tr>
    <% end %>
  </tbody>
</table>