<h1>Add experience to your profile</h1>
<div class="container">
  <div class="container">
    <div class="row centered-form">
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for [@user, @experience] do |f| %>
                <div class="form-group">
                  <%= f.label :employer_name, 'Experience' %>:
                  <%= f.text_field :employer_name, class: "form-control input-sm", placeholder: "Employer name" %>
                </div>
                <div class="form-group">
                  <%= f.label :employer_name, 'Experience' %>:
                  <%= f.text_field :months, class: "form-control input-sm", placeholder: "Months" %>
                </div>
                <div class="form-group">
                  <p> Type of job </p>
                  <%= f.text_field :jobtype_id, class: "form-control input-sm", placeholder: "Job type" %>
                </div>
                <div class="form-group">
                  <p> Please enter a description. </p>
                  <%= f.text_field :description, class: "form-control input-sm", placeholder: "Description" %>
                </div>
                <%= f.submit "Submit", class: "btn btn-info btn-block" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





